---
title: Now
layout: base
---

<p>This is my <a href="https://nownownow.com/about">now</a> page. Inspired by my colleagues <a href="https://rknight.me/now/">Robb</a> and <a href="https://zoeaubert.me/now/">Zoe</a>. The purpose of this page is to share what I'm currently doing in my life.</p>

<h2>What am I up to currently?</h2>

<ul>
    <li>Living in Portsmouth with my wife and daughter</li>
    <li>Working at Radweb on all things software and infrastructure</li>
    <li>Driving our BMW 530e G30 and loving every trip</li>
    <li>Losing weight through exercise, mostly running and cycling</li>
</ul>

<h2>How is my weight loss going?</h2>

<p>Since January 2023 I've lost over 25kg through diet and exercise. That's 4 stone, or 56 lbs if you were wondering. <a href="https://www.secondnature.io/">Second Nature</a> and <a href="https://www.parkrun.org.uk/parkrunner/8212898/">Parkrun</a> have been a huge help for my weight loss success, that and wanting to provide the best life for my newborn daughter.</p>

// TODO: Strava feed here

<h2>What am I listening to?</h2>

// TODO: Last.fm feed here

<h2>What tech am I using?</h2>

<ul>
    <li>iPhone 12 Pro Max</li>
    <li>Apple Watch Series 8 45mm</li>
    <li>Macbook Pro 16" M2 Max / 64GB / 1TB</li>
    <li>Apple magic keyboard with Touch ID</li>
    <li>Logitech MX Master 3S</li>
</ul>
